* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(255, 255, 255);
}

.container {
    width: 1111px;
    margin: 0 auto;
    /* border: 2px solid red; */
}

/* section */

.top {
    display: flex;
    justify-content: space-between;

}

.pass {
    display: flex;
    justify-content: space-between;
    margin-top: 25px;
}

.logo {
        width: 255px;
height: 103px;
top: 1061px;
left: 735px;
border-radius: 10px;
background-color: #F1FAF9;
border: none;
}


/* section_3  */

.services {
    display: flex;
    justify-content: space-between;
    margin-top: 100px;
}

.text_h1 {
    width: 534px;
height: 154px;
top: 1434px;
left: 164px;
font-family: Poppins;
font-weight: 700;
font-size: 44px;
line-height: 80px;
letter-spacing: 0%;
}

.servis_p {
    width: 73px;
height: 22px;
top: 1404px;
left: 186px;
font-family: Roboto;
font-weight: 500;
font-size: 16px;
line-height: 100%;
letter-spacing: 10%;
color: #FF6107;
margin-left: 30px;
}

.want {
    width: 428px;
height: 90px;
top: 1468px;
left: 809px;
font-family: Roboto;
font-weight: 400;
font-size: 18px;
line-height: 30px;
letter-spacing: 0%;
margin-top: 50px;
}

.bigger_div {
    display: flex;
    justify-content: space-between;
    margin-top: 100px;
}

.icon {
    width: 80px;
height: 80px;
top: 1658px;
left: 165px;
opacity: 0.8;
border-radius: 20px;
border: none;
background-color: #DBFFE9;
}

.icon_2 {
    width: 80px;
height: 80px;
top: 1658px;
left: 165px;
opacity: 0.8;
border-radius: 20px;
border: none;
background-color: #FFF7CA;
}

.icon_3 {
    width: 80px;
height: 80px;
top: 1658px;
left: 165px;
opacity: 0.8;
border-radius: 20px;
border: none;
background-color:#FFE9E0;
}

.plans {
    margin-top: 20px;
    width: 302px;
height: 28px;
top: 1768px;
left: 165px;
font-family: Roboto;
font-weight: 700;
font-size: 24px;
line-height: 100%;
letter-spacing: 0%;


}

.every {
    margin-top: 20px;
    width: 281px;
height: 77;
top: 1816px;
left: 568px;
font-family: Roboto;
font-weight: 400;
font-size: 15px;
}

.btn_tree {
    margin-top: 30px;
    border: none;
    background-color: rgb(255, 255, 255);
}

.btn_tree_in {
    margin-top: 30px;
    border: none;
    background-color: rgb(255, 255, 255);
    width: 203px;
height: 57px;
top: 1921px;
left: 565px;
border-radius: 31.5px;
background-color: #FF823B;
color: white;
}

.icons {
    color: white;
    transform: translateY(26%);
}

/* section_4 */

.left_div {
    margin-top: 200px;
}

.achievment {
    color: #FF6107;
    width: 119px;
height: 22px;
top: 2191px;
left: 186px;
font-family: Roboto;
font-weight: 500;
font-size: 16px;
line-height: 100%;
letter-spacing: 10%;


}

.witth {
    margin-top: 30px;
    width: 540px;
height: 154px;
top: 2231px;
left: 165px;
font-family: Poppins;
font-weight: 700;
font-size: 44px;
line-height: 80px;
letter-spacing: 0%;

}

.sto {
    color: #FF6107;
}

.big {
    margin-top: 120px;
}

.job {
    margin-top: 30px;
    width: 310px;
height: 28px;
top: 3160px;
left: 163px;
font-family: Roboto;
font-weight: 700;
font-size: 24px;
line-height: 100%;
letter-spacing: 0%;

}

.becom_p {
    margin-top: 35px;
    width: 511px;
height: 108;
top: 3223px;
left: 163px;
font-family: Roboto;
font-weight: 400;
font-size: 18px;
line-height: 36px;
letter-spacing: 0%;
color: #464646;
}

.view_btn {
    margin-top: 30px;
    width: 244px;
height: 57px;
top: 3376px;
left: 163px;
border-radius: 31.5px;
border: none;
background-color: #FF823B;
color: #DBFFE9;
}

.img_transform {
    transform: translateY(26%);
    margin-left: 10px;
}

.twoo_div {
    display: flex;
    justify-content: space-between;
}

.right_small {
    display: flex;
    transform: translateY(860%);
    margin-bottom: 60px;
}



.happy_p1 {
  margin-left: 60px;
  font-family: Roboto;
}

.happy_p2 {
  margin-left: 40px;
}

.happy_p3 {
  margin-left: 60px;
}

.happy_p4 {
  margin-left: 50px;
}

.number1 {
    margin-left: 60px;
    font-family: Roboto;
font-weight: 700;
font-size: 14px;
line-height: 26px;
letter-spacing: 0%;
color: #FF6107;
}

.number2 {
    margin-left: 45px;
    font-family: Roboto;
font-weight: 700;
font-size: 14px;
line-height: 26px;
letter-spacing: 0%;
color: #FF6107;
}

.number3 {
    margin-left: 50px;
    font-family: Roboto;
font-weight: 700;
font-size: 14px;
line-height: 26px;
letter-spacing: 0%;
color: #FF6107;
}

.number4 {
    margin-left: 50px;
    font-family: Roboto;
font-weight: 700;
font-size: 14px;
line-height: 26px;
letter-spacing: 0%;
color: #FF6107;
}

.image {
    transform: translateY(45%);
}

.look {
    width: 411px;
height: 28px;
top: 3389px;
left: 761px;
font-family: Roboto;
font-weight: 700;
font-size: 24px;
line-height: 100%;
letter-spacing: 0%;
margin-top: 30px;
}

.this {
    width: 511px;
height: 108px;
top: 3452px;
left: 761px;
font-family: Roboto;
font-weight: 400;
font-size: 18px;
line-height: 36px;
letter-spacing: 0%;
color: #464646;
margin-top: 30px;
}

/* section_5 */


.first {
    margin-top: 250px;
}

.blog_p {
    display: flex;
    justify-content: center;
}


.week {
    display: flex;
    justify-content: center;
}

.motto {
    display: flex;
    justify-content: center;
}

.last_div {
    display: flex;
    justify-content: space-between;
    margin-top: 100px;
}

.week_day {
    width: 75px;
height: 75px;
top: 3995px;
left: 610px;
border-radius: 10px;
background-color: #124F48;
transform: translateY(-500%);
margin-left: 460px;
}

.six_ol {
    display: flex;
    justify-content: center;
    transform: translateY(18%);
    font-size: 24px;
    font-family: Roboto;
font-weight: 700;
font-size: 24px;
line-height: 30px;
letter-spacing: 0%;
color: #DBFFE9;
}

.week_day_1 {
    width: 75px;
height: 75px;
top: 3995px;
left: 610px;
border-radius: 10px;
background-color: #124F48;
transform: translateY(-460%);
margin-left: 420px;
}

.startups {
    width: 463px;
height: 30px;
top: 4368px;
left: 185px;
font-family: Roboto;
font-weight: 700;
font-size: 24px;
line-height: 30px;
letter-spacing: 0%;
color: black;
}

.team {
    margin-top: -29px;
        width: 463px;
height: 30px;
top: 4368px;
left: 185px;
font-family: Roboto;
font-weight: 700;
font-size: 24px;
line-height: 30px;
letter-spacing: 0%;
color: black;
}

.world_p {
    margin-top: 20px;
    width: 496px;
height: 90px;
top: 4433px;
left: 185px;
font-family: Roboto;
font-weight: 400;
font-size: 18px;
line-height: 30px;
letter-spacing: 0%;

}

.more_btn {
    margin-top: 30px;
    width: 203px;
height: 57px;
top: 4568px;
left: 185px;
border-radius: 31.5px;
background-color: #FF6107;
color: #F1FAF9;
border: none;  
}

.more_btn_1 {
    margin-top: 30px;
    font-family: Roboto;
    font-size: 18px;
    font-weight: 700;
border-radius: 31.5px;
background-color: #ffffff;
color: #000000;
border: none;  

}

.burning {
    transform: translateY(20%);
    margin-left: 10px;
}


